<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>
<body>
    <h1>This is a QR Code Generator</h1>
    <form action="/qrcode" method="post">
        <label for="data">Write the contents of the code:</label>
        <input type="text" name="data" placeholder="Contents" required><br>
        <input type="submit" value="Generate" style="width: 25%;">
    </form>
</body>
</html>